In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('test_data.csv',encoding= 'unicode_escape')

In [3]:
df.head()

,patient_cohort,sample_origin,age,sex,stage,benign_sample_diagnosis,plasma_CA19_9,creatinine,LYVE1,REG1B,TFF1,REG1A,diagnosis
0,Cohort2,BPTB,53,M,0,NaN,7.000000,1.911390,1.516773,150.89000,590.6860,735.281222,Control
1,Cohort2,BPTB,56,F,0,NaN,12.000000,0.916110,0.599645,93.81100,93.5760,735.281222,Control
2,Cohort2,BPTB,59,F,0,Abdominal Pain,654.002944,0.418470,0.526248,24.11100,4.0900,735.281222,Benign
3,Cohort1,BPTB,52,M,0,Biliary Stricture (Secondary to Stent),31.620000,0.375492,3.711480,215.57942,656.7924,1305.153000,Benign
4,Cohort2,BPTB,61,F,0,Cholecystitis,654.002944,0.339300,0.136100,20.00600,41.5780,735.281222,Benign

In [5]:
df_cleaned = df.drop(columns=['stage', 'benign_sample_diagnosis'])

In [6]:
df_cleaned = pd.get_dummies(df_cleaned, columns=['patient_cohort', 'sample_origin'], drop_first=True)

In [7]:
df_cleaned.head()

,age,sex,plasma_CA19_9,creatinine,LYVE1,REG1B,TFF1,REG1A,diagnosis,patient_cohort_Cohort2,sample_origin_ESP,sample_origin_LIV
0,53,M,7.000000,1.911390,1.516773,150.89000,590.6860,735.281222,Control,True,False,False
1,56,F,12.000000,0.916110,0.599645,93.81100,93.5760,735.281222,Control,True,False,False
2,59,F,654.002944,0.418470,0.526248,24.11100,4.0900,735.281222,Benign,True,False,False
3,52,M,31.620000,0.375492,3.711480,215.57942,656.7924,1305.153000,Benign,False,False,False
4,61,F,654.002944,0.339300,0.136100,20.00600,41.5780,735.281222,Benign,True,False,False

In [8]:
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13 entries, 0 to 12
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   age                     13 non-null     int64
 1   sex                     13 non-null     object
 2   plasma_CA19_9           13 non-null     float64
 3   creatinine              13 non-null     float64
 4   LYVE1                   13 non-null     float64
 5   REG1B                   13 non-null     float64
 6   TFF1                    13 non-null     float64
 7   REG1A                   13 non-null     float64
 8   diagnosis               13 non-null     object
 9   patient_cohort_Cohort2  13 non-null     bool
 10  sample_origin_ESP       13 non-null     bool
 11  sample_origin_LIV       13 non-null     bool
dtypes: bool(3), float64(6), int64(1), object(2)
memory usage: 1.1+ KB

In [10]:
df_cleaned.to_csv('clear_data.csv', encoding='utf-8')